* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background:#f9f9ff;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #6a4df4;
}

nav a {
  margin-left: 25px;
  text-decoration: underline;
  color: #555;
  font-weight: 500;
}

nav .btn {
  padding: 10px 22px;
  background: #6a4df4;
  color: #fff;
  border-radius: 25px;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text h1 span {
  color: #6a4df4;
}

.hero-text h3 {
  margin: 10px 0;
  font-size: 22px;
  color: #777;
}

.hero-text p {
  max-width: 500px;
  margin: 20px 0;
  color: #666;
}

.hero-buttons a {
  display: inline-block;
  margin-right: 15px;
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

.primary {
  background: #6a4df4;
  color: white;
}

.secondary {
  border: 2px solid #6a4df4;
  color: #6a4df4;
}


.hero-img img {
  width: 400px;
  height:400px;
  border-radius: 50%;
  border: none;

  box-shadow:
    0 0 40px rgba(56, 189, 248, 0.2),
    inset 0 0 40px rgba(43, 184, 245, 0.15);
}


.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  color: #333;
  text-decoration: underline;
}

.education {
  padding: 80px;
  background: #f9f9ff;
}

.edu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.edu-card {
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
  transition: 0.4s;
}

.edu-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.edu-card span {
  color: #6a4df4;
  font-weight: 600;
}


.projects {
  padding: 80px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.project-card {
  background: linear-gradient(135deg, #6a4df4, #9b7cff);
  color: white;
  padding: 30px;
  border-radius: 20px;
  transition: 0.4s;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card a {
  color: white;
  text-decoration: underline;
  font-weight: 600;

}



footer {
  text-align: center;
  padding: 30px;
  background: #6a4df4;
  color: white;
}

